#itemTable {
	width: 1024px;
}

.itemTd {
	width: 256px;
	height: 266px;
}

.itemImg {
	width: 230px;
	height: 230px;
}

.itemImg:hover {
	transition: 0.5s;
	-webkit-filter: opacity(.7);
	filter: opacity(.7);
	
}

.itemImg:hover label{
	display:block;
}