<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ho.mapper.HoMemberMapper">
	<!-- SQL 문장은 여기에 -->
	<resultMap type="HoMember" id="homemberMap">
		<id column="m_id" property="memId" />
		<result column="m_pass" property="memPass" />
		<result column="m_name" property="memName" />
		<result column="m_tel" property="memTel" />
		<result column="m_email" property="memEmail" />
		<result column="m_birth" property="memBirth" />
		<result column="m_addr_no" property="memAddrNo" />
		<result column="m_addr" property="memAddr" />
		<result column="m_cm" property="memHeight" />
		<result column="m_bust" property="memBust" />
		<result column="m_shoulder" property="memShoulder" />
		<result column="m_coin" property="memCoin" />
		<result column="m_exp" property="memExp" />
	</resultMap>

	<resultMap type="HoGoods" id="HoGoodsMap">
		<id column="i_no" property="GoodsId" />
		<result column="i_name" property="GoodsName" />
		<result column="i_category" property="GoodsCate" />
		<result column="i_img" property="GoodsImg" />
		<result column="i_info" property="GoodsInfo" />
		<result column="i_color" property="GoodsColor" />
		<result column="i_size" property="GoodsSize" />
		<result column="i_soo" property="GoodsSoo" />
		<result column="i_price" property="GoodsPrice" />
		<result column="i_rent_price" property="GoodsRentPrice" />
	</resultMap>


	<select id="selectHoMember" resultMap="homemberMap"
		parameterType="hashmap">
		SELECT *
		FROM member
		<where>

			<choose>
				<when test="id neq null and pass neq null">
					m_id=#{id} and m_pass=#{pass}
				</when>
				<when test="id neq null">
					m_id=#{id}
				</when>
			</choose>
		</where>
	</select>

	<update id="UpdateMypage" parameterType="hashmap">
		UPDATE member
		SET m_email
		= #{memEmail} ,m_tel = #{memTel}, m_addr = #{memAddr},
		m_cm =
		#{memHeight}, m_bust = #{memBust}, m_shoulder = #{memShoulder}
		WHERE
		m_id=#{memId}
	</update>

	<insert id="insertGoods" parameterType="hashmap">

		INSERT INTO ITEM
		(I_NO,I_NAME,I_CATEGORY,I_IMG,I_INFO,I_COLOR,I_SOO,I_PRICE,I_RENT_PRICE,I_SIZE)
		VALUES
		(seq_item.nextval,#{GoodsName}, #{GoodsCate}, #{GoodsImg},
		#{GoodsInfo}, #{GoodsColor}, #{GoodsSoo},
		#{GoodsPrice},
		#{GoodsRentPrice}, #{GoodsSize})

	</insert>

	<insert id="insertGoodsimg" parameterType="hashmap">
		INSERT INTO itemimg
		values(#{GoodsName},#{image1},#{image2},#{image2})
	</insert>

	<select id="Goodlist" resultMap="HoGoodsMap" parameterType="hashmap">
		select * from item
		<where>
			<if test="id neq null">
				i_no = #{id}
			</if>
			<if test="countid neq null">
				i_name = #{countid}
			</if>
		</where>
	</select>

	<delete id="Goodsdelete" parameterType="hashmap">
		DELETE FROM ITEM WHERE
		I_NAME = #{id}
	</delete>


	<update id="UpdateGoods">
		UPDATE item SET I_CATEGORY=#{GoodsCate}, I_IMG =
		#{GoodsImg},I_INFO=#{GoodsInfo},I_COLOR=#{GoodsColor},I_SOO=#{GoodsSoo},I_PRICE=#{GoodsPrice},I_RENT_PRICE=#{GoodsRentPrice},I_SIZE=#{GoodsSize}
		WHERE I_NAME=#{GoodsName}
	</update>

	<delete id="GoodsImgdelete" parameterType="hashmap">
		DELETE FROM ITEMIMG
		WHERE Img_NAME = #{id}
	</delete>



	<delete id="GoodsImgdelete" parameterType="hashmap">
		DELETE FROM ITEMIMG
		WHERE Img_NAME = #{id}
	</delete>


	<update id="UpdateGoodsimg">
		UPDATE itemimg SET IMG_1=#{image1},
		IMG_2=#{image2},IMG_3=#{image3} WHERE
		IMG_NAME=#{GoodsName}
	</update>

</mapper>

	