<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="ho.mapper.HoMemberMapper">

	<!-- SQL 문장은 여기에 -->
	<resultMap id="homemberMap" type="HoMember">

		<id property="memId" column="m_id" />
		<result property="memPass" column="m_pass" />
		<result property="memName" column="m_name" />
		<result property="memTel" column="m_tel" />
		<result property="memEmail" column="m_email" />
		<result property="memBirth" column="m_birth" />
		<result property="memAddrNo" column="m_addr_no" />
		<result property="memAddr" column="m_addr" />
		<result property="memHeight" column="m_cm" />
		<result property="memBust" column="m_bust" />
		<result property="memShoulder" column="m_shoulder" />
		<result property="memCoin" column="m_coin" />
		<result property="memExp" column="m_exp" />
	</resultMap>



	<resultMap id="HoGoodsImgMap" type="HoGoodsImg">
		<id property="imgName" column="img_name" />
		<result property="imgOne" column="img_1" />
		<result property="imgTwo" column="img_2" />
		<result property="imgThree" column="img_3" />
	</resultMap>



	<resultMap id="HoGoodsMap" type="HoGoods">
		<id property="GoodsId" column="i_no" />
		<result property="GoodsName" column="i_name" />
		<result property="GoodsCate" column="i_category" />
		<result property="GoodsImg" column="i_img" />
		<result property="GoodsInfo" column="i_info" />
		<result property="GoodsColor" column="i_color" />
		<result property="GoodsSize" column="i_size" />
		<result property="GoodsSoo" column="i_soo" />
		<result property="GoodsPrice" column="i_price" />
		<result property="GoodsRentPrice" column="i_rent_price" />
		<result property="GoodsDc" column="i_dc" />
		<result property="GoodsLsize" column="i_l" />
		<result property="GoodsMsize" column="i_m" />
		<result property="GoodsSsize" column="i_s" />
	</resultMap>



	<resultMap id="HoBoardMap" type="HoBoard">
		<id property="boardId" column="b_id" />
		<result property="boardNo" column="b_no" />
		<result property="boardGroupNo" column="b_group_no" />
		<result property="boardOrderNo" column="b_order_no" />
		<result property="boardDate" column="b_date" />
		<result property="boardHits" column="b_hits" />
		<result property="boardWriter" column="b_writer" />
		<result property="boardPass" column="b_pass" />
		<result property="boardTitle" column="b_title" />
		<result property="boardContent" column="b_content" />

	</resultMap>


	<resultMap id="HoShoppingBag" type="HoBag">
		<id property="shopSeqNo" column="shop_seq_no" />
		<result property="shopId" column="shop_id" />
		<result property="shopNo" column="shop_no" />
		<result property="shopSize" column="shop_size" />
		<result property="shopImg" column="shop_img" />
		<result property="shopSoo" column="shop_soo" />
		<result property="shopPrice" column="shop_price" />
	</resultMap>

	<select id="shoppingBag" parameterType="hashmap" resultMap="HoShoppingBag">
		SELECT * FROM shopping_bag
	 </select>

	<select id="GoodsImgView" parameterType="hashmap" resultMap="HoGoodsImgMap">
		SELECT * FROM itemimg
		<where>
			<choose>
				<when test="name neq null"> 
				img_name = #{name} 
				</when>
			</choose>
		</where>
	</select>

	<select id="selectHoMember" parameterType="hashmap" resultMap="homemberMap">
		SELECT * FROM member
		<where>
			<choose>
				<when test="id neq null and pass neq null"> m_id=#{id} and m_pass=#{pass} </when>
				<when test="checkid neq null"> m_id=#{checkid} </when>
				<when test="id neq null"> m_id=#{id} </when>
				<when test="mId neq null"> m_id=#{mId} </when>
			</choose>
		</where>
	</select>



	<update id="UpdateMypage" parameterType="hashmap">
		<choose>
			<when test="memPass neq null"> UPDATE member SET m_email = #{memEmail} ,m_tel =
				#{memTel}, m_addr = #{memAddr}, m_cm = #{memHeight}, m_bust =
				#{memBust}, m_shoulder = #{memShoulder}, m_pass = #{memPass}, m_name
				= #{memName} WHERE m_id=#{memId} 
			</when>
			<otherwise> UPDATE member SET m_email = #{memEmail} ,m_tel =
				#{memTel}, m_addr = #{memAddr}, m_cm = #{memHeight}, m_bust =
				#{memBust}, m_shoulder = #{memShoulder}, m_name = #{memName} WHERE
				m_id=#{memId} 
			</otherwise>
		</choose>
	</update>

	<insert id="insertGoods" parameterType="hashmap"> INSERT INTO ITEM
		(I_NO,I_NAME,I_CATEGORY,I_IMG,I_INFO,I_COLOR,I_SOO,I_PRICE,I_RENT_PRICE,I_SIZE,I_DC,I_L,I_M,I_S)
		VALUES (seq_item.nextval,#{GoodsName}, #{GoodsCate}, #{GoodsImg},
		#{GoodsInfo}, #{GoodsColor}, #{GoodsSoo},
		#{GoodsPrice},#{GoodsRentPrice},
		#{GoodsSize},#{GoodsDc},#{GoodsLsize},#{GoodsMsize},#{GoodsSsize})
	</insert>

	<insert id="insertGoodsimg" parameterType="hashmap">
	    INSERT INTO itemimg
		values(#{GoodsName},#{image1},#{image2},#{image2}) 
		</insert>



	<select id="Goodlist" parameterType="hashmap" resultMap="HoGoodsMap">
		select * from item
		<where>
			<choose>
				<when test="id neq null"> i_no = #{id} </when>
				<when test="countid neq null"> i_name = #{countid} </when>
				<when test="category neq null"> i_category = #{category} </when>
				<when test="name neq null and cate neq null"> i_name like '%'||#{name}||'%' AND i_category LIKE
					'%'||#{cate}||'%' </when>
				<when test="info neq null and cate neq null"> i_info like '%'||#{info}||'%' AND i_category LIKE
					'%'||#{cate}||'%' </when>
				<when test="name neq null"> i_name like '%'||#{name}||'%' </when>
				<when test="info neq null"> i_info like '%'||#{info}||'%' </when>
				<when test="id neq null and name eq null"> i_no = #{id} </when>
			</choose>
	</where>
	</select>

	<delete id="Goodsdelete" parameterType="hashmap"> DELETE FROM ITEM WHERE
		I_NAME = #{id} </delete>
	<update id="UpdateGoods"> UPDATE item SET I_CATEGORY=#{GoodsCate}, I_IMG
		=#{GoodsImg},I_INFO=#{GoodsInfo},I_COLOR=#{GoodsColor},I_SOO=#{GoodsSoo},I_PRICE=#{GoodsPrice},
		I_RENT_PRICE=#{GoodsRentPrice},I_SIZE=#{GoodsSize}
		,I_DC=#{GoodsDc},I_L=#{GoodsLsize},I_M=#{GoodsMsize},I_S=#{GoodsSsize}
		WHERE I_NAME=#{GoodsName} </update>

	<delete id="GoodsImgdelete" parameterType="hashmap"> DELETE FROM ITEMIMG
		WHERE Img_NAME = #{id} </delete>

	<update id="UpdateGoodsimg"> 
	UPDATE itemimg SET IMG_1=#{image1},
		IMG_2=#{image2},IMG_3=#{image3} WHERE IMG_NAME=#{GoodsName} 
		</update>

	<delete id="deleteMember" parameterType="hashmap"> 
	DELETE FROM MEMBER
		WHERE m_id=#{mId}
		 </delete>

	<update id="updateMember" parameterType="hashmap"> UPDATE MEMBER SET
		m_id=#{memId} , m_name=#{memName},
		m_Email=#{memEmail},m_addr=#{memAddrNo}, m_tel=#{memTel},
		m_coin=#{memCoin}, m_cm=#{memHeight} , m_bust=#{memBust},
		m_shoulder=#{memShoulder} WHERE m_id=#{mId} </update>

	<insert id="insertMember" parameterType="hashmap"> INSERT INTO member
		VALUES(#{userId},#{userPass},#{userName},#{userTel},#{userEmail},
		#{userBirth},#{userSex},#{userAddr},#{userHeight},#{userChest},#{userShoulder},#{userCoin},#{userEXP})
	</insert>


	<select id="selectBoard" parameterType="hashmap" resultMap="HoBoardMap">
		select * from board
		<where>
			<choose>
				<when test="id neq null"> b_no=#{id} </when>
			</choose>
		</where>
	</select>

	<insert id="inputQna" parameterType="hashmap"> INSERT INTO
		board(b_id,b_no,b_date,b_writer,b_title,b_content)
		VALUES(#{id},seq_board_no.nextval,sysdate,#{name},#{title},#{content})
	</insert>

	<update id="GoodsInventory" parameterType="hashmap"> UPDATE item SET
		I_SOO=#{GoodsSoo} WHERE I_NAME=#{GoodsName} </update>

	<select id="selectCount" parameterType="hashmap" resultType="int">
		Select count(*) as cnt from ${tableName} </select>

	<select id="selectAllGoods" parameterType="hashmap" resultMap="HoGoodsMap">
		select * from item where i_no in (select i_no from (select rownum as
		rnum, i_no from (select i_no from item order by i_no desc)) where rnum
		between #{startrecord} and #{endrecord}) order by i_no desc </select>

	<update id="updateBoard" parameterType="hashmap"> update board set
		b_content = #{content} where b_writer = #{writer} </update>

	<select id="selectAllBoard" parameterType="hashmap" resultMap="HoBoardMap">
		select * from board where b_no in (select b_no from (select rownum as
		rnum, b_no from (select b_no from board order by b_no desc)) where
		rnum between #{startrecord} and #{endrecord}) order by b_no desc
	</select>
	
	<select id="selectAllMember" parameterType="hashmap" resultMap="homemberMap">
		select * from member where m_name in (select m_name from (select
		rownum as rnum, m_name from (select m_name from member order by
		m_name)) where rnum between #{startrecord} and #{endrecord}) order by
		m_name </select>
		
</mapper>