@charset "utf-8";

#CoinTop {
	width: 100%;
	height: 40px;
	background: #4d4d4d;
}

#CoinTop p {
	font-size: 15pt;
	padding: 5px;
	text-align: left;
	color: white;
}

.TopP{
	font-size:15pt;
	text-align: right;
}

#CoinInput{
	width: 500px;
	height: 30px;
	text-align: left;
	font-size: 20pt;
}