.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;
}
.left-inner-addon i {
    position: absolute;
    //padding: 10px 12px;
    padding: 1px 2px;
    pointer-events: none;
    margin-top: 8px;
    margin-left: 10px;
}
.text-background {
    background-color:#F6F6F6 !important;
    ;
}
.text-color {
    color:#451666;
}
.left-panel-text {
    color:#fff;
}
.left-container {
    padding-top:175px;
}
.right-container {
    padding-top:60px
}
.left-icon {
    background-image:url('http://s21.postimg.org/su697x99f/logo.png');
    display: inline-block;
    width: 70px;
    height: 65px;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
    margin-bottom: 30px;
}
.gap {
    margin-bottom: 30px;
}
.btn-custom {
    background-color: hsl(275, 65%, 15%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#621f93", endColorstr="#2a0d3f");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#621f93), to(#2a0d3f));
    background-image: -moz-linear-gradient(top, #621f93, #2a0d3f);
    background-image: -ms-linear-gradient(top, #621f93, #2a0d3f);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #621f93), color-stop(100%, #2a0d3f));
    background-image: -webkit-linear-gradient(top, #621f93, #2a0d3f);
    background-image: -o-linear-gradient(top, #621f93, #2a0d3f);
    background-image: linear-gradient(#621f93, #2a0d3f);
    border-color: #2a0d3f #2a0d3f hsl(275, 65%, 10%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
    -webkit-font-smoothing: antialiased;
    width:310px;
}
label[for="on_off"] {
    display:inline-block;
    font-size:21px;
}
.side_login {
    background-color:#451666;
    width:100%;
    height:500px;
    box-shadow: 10px 0px 15px #BBBBBB;
}
.iPhoneCheckContainer {
    -webkit-transform:translate3d(0, 0, 0);
    position: relative;
    height: 27px;
    cursor: pointer;
    overflow: hidden;
}
.iPhoneCheckContainer input {
    position: absolute;
    top: 5px;
    left: 30px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
}
.iPhoneCheckContainer label {
    white-space: nowrap;
    font-size: 17px;
    line-height: 17px;
    font-weight: bold;
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
    cursor: pointer;
    display: block;
    height: 27px;
    position: absolute;
    width: auto;
    top: 0;
    padding-top: 5px;
    overflow: hidden;
}
.iPhoneCheckContainer, .iPhoneCheckContainer label {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    display:inline-block;
}
.iPhoneCheckDisabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
}
label.iPhoneCheckLabelOn {
    color: white;
    background: url('http://ios-checkboxes.awardwinningfjords.com/iphone-style-checkboxes/images/iphone-style-checkboxes/on.png?1284697268') no-repeat;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    left: 0;
    padding-top: 5px;
}
label.iPhoneCheckLabelOn span {
    padding-left: 8px;
}
label.iPhoneCheckLabelOff {
    color: #8b8b8b;
    background: url('http://ios-checkboxes.awardwinningfjords.com/iphone-style-checkboxes/images/iphone-style-checkboxes/off.png?1284697268') no-repeat right 0;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
    text-align: right;
    right: 0;
}
label.iPhoneCheckLabelOff span {
    padding-right: 8px;
}
.iPhoneCheckHandle {
    display: block;
    height: 27px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    background: url('http://ios-checkboxes.awardwinningfjords.com/iphone-style-checkboxes/images/iphone-style-checkboxes/slider_left.png?1284697268') no-repeat;
    padding-left: 3px;
}
.iPhoneCheckHandleRight {
    height: 100%;
    width: 100%;
    padding-right: 3px;
    background: url('http://ios-checkboxes.awardwinningfjords.com/iphone-style-checkboxes/images/iphone-style-checkboxes/slider_right.png?1284697268') no-repeat right 0;
}
.iPhoneCheckHandleCenter {
    height: 100%;
    width: 100%;
    background: url('http://ios-checkboxes.awardwinningfjords.com/iphone-style-checkboxes/images/iphone-style-checkboxes/slider_center.png?1284697268');
}
.iOSCheckContainer {
    position: relative;
    height: 27px;
    cursor: pointer;
    overflow: hidden;
}
.iOSCheckContainer input {
    position: absolute;
    top: 5px;
    left: 30px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
}
.iOSCheckContainer label {
    white-space: nowrap;
    font-size: 17px;
    line-height: 17px;
    font-weight: bold;
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
    cursor: pointer;
    display: block;
    height: 27px;
    position: absolute;
    width: auto;
    top: 0;
    padding-top: 5px;
    overflow: hidden;
}
.iOSCheckContainer, .iOSCheckContainer label {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
}
.iOSCheckDisabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
}
label.iOSCheckLabelOn {
    color: white;
    background: url('../img/ios-style-checkboxes/on.png?1284697268') no-repeat;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    left: 0;
    padding-top: 5px;
}
label.iOSCheckLabelOn span {
    padding-left: 8px;
}
label.iOSCheckLabelOff {
    color: #8b8b8b;
    background: url('../img/ios-style-checkboxes/off.png?1284697268') no-repeat right 0;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
    text-align: right;
    right: 0;
}
label.iOSCheckLabelOff span {
    padding-right: 8px;
}
.iOSCheckHandle {
    display: block;
    height: 27px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    background: url('../img/ios-style-checkboxes/slider_left.png?1284697268') no-repeat;
    padding-left: 3px;
}
.iOSCheckHandleRight {
    height: 100%;
    width: 100%;
    padding-right: 3px;
    background: url('../img/ios-style-checkboxes/slider_right.png?1284697268') no-repeat right 0;
}
.iOSCheckHandleCenter {
    height: 100%;
    width: 100%;
    background: url('../img/ios-style-checkboxes/slider_center.png?1284697268');
}